/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
:root {
	--ion-color-mycolor: #12872c;
	--ion-color-mycolor-rgb: 18,135,44;
	--ion-color-mycolor-contrast: #ffffff;
	--ion-color-mycolor-contrast-rgb: 255,255,255;
	--ion-color-mycolor-shade: #107727;
	--ion-color-mycolor-tint: #2a9341;
}

.ion-color-mycolor {
	--ion-color-base: var(--ion-color-mycolor);
	--ion-color-base-rgb: var(--ion-color-mycolor-rgb);
	--ion-color-contrast: var(--ion-color-mycolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-mycolor-shade);
	--ion-color-tint: var(--ion-color-mycolor-tint);
}